:root {
    --color-theme-1: #ffffff;
    --color-theme-2: #f0f0f0;
    --color-theme-3: #bbb;
    --color-theme-4: #333;
    --color-theme-primary: #6495ed;
    --color-theme-secondary: #bcdaf4;
  
    --color-white: #fff;
    --color-black: #000;
    --color-light: #eee;
    --color-dark: #333;
}
  
.dark {
    --color-theme-1: #333;
    --color-theme-2: #242424;
    --color-theme-3: #555;
    --color-theme-4: #ddd;
    --color-theme-primary: #6495ed;
    --color-theme-secondary: #bcdaf4;
}
