.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 0.1em;
    border: 0.15em solid var(--color-theme-3);
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI','Roboto',sans-serif;
    font-weight: 400;
    color: var(--color-theme-4);
    background-color: var(--color-theme-3);
    text-align: center;
    position: relative;
}
.btn:hover {
    border-color: var(--color-theme-4);
}
.btn:active {
    background-color: var(--color-theme-1);
}
