table {
    @apply border border-gray-300
}
th {
    @apply px-2;
    @apply text-left whitespace-nowrap;
    @apply border border-gray-300 bg-gray-200
}
td {
    @apply p-2;
    @apply text-left;
    @apply border border-gray-300
}
tr:nth-child(odd) {
    @apply bg-gray-100
}


blockquote {
    @apply border-l-4 pl-3
}