/* width */
::-webkit-scrollbar {
    width: 10px; /* Y size */
    height: 10px; /* X size */
}
.modal-body::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.icon { margin-bottom: 3px; } /* Spectre icon */

/* feather icon digunakan pada sidebar */
.feather {
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
}

header {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc;
}
header .icon.icon-menu {
    margin-bottom: .2rem;
}

.avatar-dropdown {
    left: unset !important;
    right: 0;
    width: 250px;
    max-height: 100vw !important;
}

.sidebar .accordion-header,
.sidebar .menu {
    padding: .2rem .4rem;
}

.sidebar .accordion-body .menu-item {
    margin-left: 10px;
}

.sidebar .menu-nav .feather {
    margin-right: 5px;
}

.off-canvas-content {
    padding: 0 !important;
}

.menu-item .feather {
    margin-right: 8px;
}

/* Sesuaikan Paingation */
.pagination {
    justify-content: center;
}

/* Suaiankan Table */
.table-container {
    overflow: auto;
    width: calc(100vw - 23px);
    margin: 3px;
    position: relative;
}
.table {
    white-space: nowrap;
}
.table-container .loading {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

/* Seuaikan Modal */
.modal-body .content > form {
    margin-top: -.8rem;
    margin-bottom: .2rem;
}