header {
    display: flex;
    background: var(--color-theme-primary);
    color: var(--color-white);
  }
  header .brand {
    padding: .8em;
    font-weight: bold;
    font-size: large;
    margin-right: auto;
  }
  header .nav-btn {
    padding: .8em 1em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--color-white);
  }
  header .nav-btn:hover,
  header .nav-btn.focus {
    background: var(--color-theme-primary);
    filter: brightness(0.8);
  }
  
  header .menu {
    display: flex;
    align-items: center;
  }
  
  /** Menu Avatar */
  header .menu .avatar {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
  }
  header .menu .avatar i,
  header .menu .avatar img {
    width: calc(16px * 1.5); /* 16px = font-size */
    height: auto;
    float: left;
    margin-right: 5px;
    border-radius: 100%;
  }